<!DOCTYPE html>
<html class="addPost">
<head>
	<title>Add Post</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/public/css/style.css">

   <script type="text/javascript" src="/public/js/script.js"></script>
</head>
<body class="addPost adminBody">

	<div class="container">
		<div class="row centered-form">
			<div class="addPostDiv col">
				<div class="glxD panel panel-default">
					<div class="fConteiner panel-body">
						<form class="f" role="form" action="/insertbnakaran" enctype="multipart/form-data" method="POST">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="inp1 form-group">
										<input type="text" name="vernagir" class="in1 form-control input-sm" placeholder="Վերնագիր">
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="inp2 form-group">
										<input type="text" name="gin" class="in1 form-control input-sm" placeholder="Գին">
									</div>
								</div>
							</div>
							<div class="inp3 form-group">
								<textarea name="nkaragrutyun" class="nkaragrutyun form-control input-sm" placeholder="Նկարագրոււթյուն">
								</textarea> 
							</div>
							<div class="row">

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="inp1 form-group">
										<input type="" name="marz" class="in1 form-control input-sm" placeholder="Մարզ">
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="inp2 form-group">
										<!-- <input type="" name="qaxaq" class="in1 form-control input-sm" placeholder="Քաղաք"> -->
										<select class="form-control" id="" name="qaxaq">
											<option>Ամբողջ Հայաստան</option>
										    <option value="erevan">Երևան</option>
                                            <option value="gyumri">Գյումրի</option>
                                            <option value="vanadzor">Վանաձոր</option>
                                        </select>
									</div>
								</div>
								<div class="inp3 form-group">
									<div class="input-group inpFile">
										<div class="custom-file">
											<input type="file" class="custom-file-input" id="inputGroupFile01" name="file"
											aria-describedby="inputGroupFileAddon01" multiple>
											<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
										</div>
									</div>
							    </div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="inp2 form-group">
										<input type="" name="hasce" class="in1 form-control input-sm" placeholder="Հասցե">
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="inp2 form-group">
										<input type="" name="makeres" class="in1 form-control input-sm" placeholder="Մակերես">
									</div>
								</div>
								<select name="vacharq" class="sel1 mdb-select md-form colorful-select dropdown-primary">
									<option >Ընտրել</option>
									<option value="1">Վաճառել</option>
									<option value="2">Վարձակալություն</option>
									<option value="3">Վաճառել</option>
								</select>

								<select name="tun" class="sel2 mdb-select md-form colorful-select dropdown-primary">
									<option>Ընտրել</option>
									<option value="1">Տուն</option>
									<option value="2">Բնակարան</option>
									<option value="3">Կոմերցիոն</option>
									<option value="4">Հողատարացք</option>
								</select><br><br><br>

							</div>
							<input type="submit" value="Ավելացնել հայտարարություն" class="b btn btn btn-info btn-block">
						</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>

</body>
</html>