
    
 </div><!--/row-->
</div> <!-- container -->

	<script type="text/javascript" src="/public/js/script.js"></script>

	<footer class="h-20" style="border-top: 2px solid red">foote</footer>
</body>
</html>