<% include viewMain.ejs%>
<div class="col-9">
<div class="row justify-content-center">
	<% post.forEach(function(item){%>
		<div class='col-6 col-lg-3 poster' style="margin-left: 10px;margin-top: 10px"> 
				<img class="w-50 h-50" src="<%=item.nkar%>">
			    <h2><%=item.vernagir%> <%=item.gin%>$</h2>
			    <p><%=item.nkaragrutyun%></p>
			    <p><%=item.marz%>, <%=item.qaxaq%>, <%=item.hasce%>, <%=item.makeres%></p>
		</div>
	<%})%>






</div>


<% include sidebarRight.ejs%>
<% include footer.ejs%>