


<!-- Արմեն Մարջինյան Ուսումնական կենտրոնի ղեկավար
2 օր 3 ժամ 56 րոպե առաջ
Ծրագրեր՝ Node.js (nodejs.org), GitBash (https://gitforwindows.org/)
Լսարանում արված ֆայլի վրա աջ քլիկ Git Bash here npm install որպեսզի Node modules թղթապանակը հայտնվի, երբ կավարտվի npm start եթե նոր պրոյեկտ ենք սկսում, ապա npx create-react-app folder-name որտեղ folder-name -ը թղթապանակի անունն է
հետո՝ cd folder-name և npm start 

հարցերի դեպքում՝ http://fb.com/marjinyan
 -->

 <!-- Ունենք ուսանողների տվյալներ՝ անուն, ազգանուն, գնահատականների զանգված, որի յուրաքանչյուր տարր օբյեկտ է և ցույց է տալիս առարկայի անունը և գնահատականը

օրինակ՝ {name: "David", surname: "Hakobyan", gnahatakanner: [

{ararka: "matem", gnahatakan: 10 }, 

{ararka: "fizika", gnahatakan: 8}, 

] 

}

TABLE- ի մեջ ցույց տալ բոլոր ուսանողների անուն ազգանունները, երրորդ սյան մեջ ունենալ մեկ այլ աղյուսակ, որտեղ ցույց կտրվի առարկայի անունը և գնահատականը

ունենալ delete կոճակ, որով կջնջվի քննության տվյալը



table տեգը react -ում անպայման պետք է ունենա thead, tbody ժառանգ տեգերը -->

 <!-- <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
	<div class="list-group">
		<img src="/public/img/govazd.jpg">
    </div>
</div> -->