
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<form action="/uploadfile" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="myFile" multiple/>
   <input type="submit" value="Upload a file"/>
</form><hr>
 
 
<!-- MULTIPLE FILES -->
 
</body>
</html>




