<!DOCTYPE html>
<html lang="en" class="main">
<head>

  <title>glxavor</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/public/css/style.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light header1">

    <nav class="navbar navbar-expand-lg navbar-light navSpitak w-100 j">

    <a class="navbar-brand" href="#" style="visibility: hidden;">
       &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
		</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
		</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/tun">ՏՈՒՆ 
            <span class="sr-only">(current)</span>
          </a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/bnakaran">ԲՆԱԿԱՐԱՆ 
            <span class="sr-only">(current)</span>
          </a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/komercion">ԿՈՄԵՐՑԻՈՆ 
            <span class="sr-only">(current)</span>
          </a>
				</li>
        <li class="nav-item active">
          <a class="nav-link" href="/hoxataracq">ՀՈՂԱՏԱՐԱՑՔ
            <span class="sr-only">(current)</span>
          </a>
				</li>
      </ul>

      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="search form-control mr-sm-5" type="search" placeholder="Search" aria-label="Search"name="search">

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>

    </nav>
  </nav
  <!-- //////mejtexi/////// -->
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-9">
      <!-- <p class="float-right hidden-md-up">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">ՄԱՆՐԱՄԱՍՆ</button>
      </p> -->
          <div class="jumbotron">
            <ul class="nav nav-pills">
              <li class="nav-item">
                 <a class="nav-link active" data-toggle="pill" href="#tun">ՏՈՒՆ</a>
              </li>
            	<li class="nav-item">
            		<a class="nav-link" data-toggle="pill" href="#bnakaran">ԲՆԱԿԱՐԱՆ</a>
            	</li>
            	<li class="nav-item">
            		<a class="nav-link" data-toggle="pill" href="#komercion">ԿՈՄԵՐՑԻՈՆ</a>
            	</li>
            	<li class="nav-item">
            		<a class="nav-link" data-toggle="pill" href="#hoxataracq">ՀՈՂԱՏԱՐԱՑՔ</a>
            	</li>
            </ul><br>
            	<!-- Tab panes -->

              
              <div class="tab-content">
                <div class="tab-pane container fade show active" id="tun">

                  <form action="tunVoronel" method="post">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm">                   
                     
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gorcarq" id="exampleRadios1" value='1' checked>
                          <label class="form-check-label" for="exampleRadios1">
                            ՎԱՃԱՌՔ
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gorcarq" id="exampleRadios2" value="2">
                          <label class="form-check-label" for="exampleRadios2">
                            ՎԱՐՁԱԿԱԼՈՒԹՅՈՒՆ
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gorcarq" id="exampleRadios2" value="3">
                          <label class="form-check-label" for="exampleRadios2">
                            ՕՐԱՎԱՐՁՈՎ
                          </label>
                        </div>
                      
                    
                  </div>

                  <div class="col-sm">  
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="1" name="senyak">
                          1 սենյականոց
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="2" name="senyak">2 սենյականոց
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="3" name="senyak">3 սենյականոց</label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="4+" name="senyak">4+ սենյականոց</label>
                    </div>

                  </div> <!-- ///col chekbox  --> 
             
              <div class="col-sm">   
                  <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="qaxaq">
                      <option value="">Ամբողջ Հայաստան</option>
                      <option value="erevan">Երևան</option>
                      <option value="gyumri">Գյումրի</option>
                      <option value="vanadzor">Վանաձոր</option>
                    </select>
                  </div>
              </div> <!--  col amboxj hayastan -->

              <div class="col-sm">
                <input type="text" name="poxoc" class="  search-query form-control" placeholder="Փողոց" />
                <span class="input-group-btn">
                  <span class=" glyphicon glyphicon-search"></span>
                </span><br>

                  <div class="form-group">
                    <input placeholder="Մինչև - դրամ" type="number" class="form-control" name="gin">
                      
                  </div>

                   <div class="form-group">
                    <input placeholder="Մինչև - ՔՄ" type="number" class="form-control" name="makeres">
                  </div>

                  <input type="hidden" name="tesak" value="1">

                  <button type="submit" class="btn btn-primary">Որոնել</button>
                           
              </div> <!-- col sm search -->

            </div> <!-- /////row -->

          </div> <!-- conteiner -->
          </form>



                </div><!-- //////tun verj -->







                <div class="tab-pane container fade show " id="bnakaran">

                  <form action="tunVoronel" method="post">
             <div class="container">
                <div class="row">
                  <div class="col-sm">


                    
                      
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gorcarq" id="exampleRadios1" value="1" checked>
                          <label class="form-check-label" for="exampleRadios1">
                            ՎԱՃԱՌՔ
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gorcarq" id="exampleRadios2" value="2">
                          <label class="form-check-label" for="exampleRadios2">
                            ՎԱՐՁԱԿԱԼՈՒԹՅՈՒՆ
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gorcarq" id="exampleRadios2" value="3">
                          <label class="form-check-label" for="exampleRadios2">
                            ՕՐԱՎԱՐՁՈՎ
                          </label>
                        </div>
                     
                    
                  </div>

                  <div class="col-sm">  
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="1" name="senyak">
                          1 սենյականոց
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="2" name="senyak">2 սենյականոց
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="3" name="senyak">3 սենյականոց</label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="4" name="senyak">4+ սենյականոց</label>
                    </div>

                  </div> <!-- ///col chekbox  --> 
             
              <div class="col-sm">   
                  <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="qaxaq">
                      <option value="">Ամբողջ Հայաստան</option>
                      <option value="erevan">Երևան</option>
                      <option value="gyumri">Գյումրի</option>
                      <option value="vanadzor">Վանաձոր</option>
                    </select>
                  </div>
              </div> <!--  col amboxj hayastan -->

              <div class="col-sm">
                <input type="text" name="poxoc" class="  search-query form-control" placeholder="Փողոց" />
                <span class="input-group-btn">
                  <span class=" glyphicon glyphicon-search"></span>
                </span><br>

                  <div class="form-group">
                    <input placeholder="Մինչև - դրամ" type="number" class="form-control" name="gin">
                  </div>

                   <div class="form-group">
                    <input placeholder="Մինչև - ՔՄ" type="number" class="form-control" name="makeres">
                  </div>

                  <button type="submit" class="btn btn-primary">Որոնել</button>
                           
              </div> <!-- col sm search -->

            </div> <!-- /////row -->

          </div> <!-- conteiner -->

          </form>

                </div>   <!-- //////bnakaran verj -->








                <div class="tab-pane container fade show" id="komercion">

                  <form action="tunVoronel" method="post">
              <div class="container">
                <div class="row">
                  <div class="col-sm">


                    
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gorcarq" id="exampleRadios1" value="1" checked>
                          <label class="form-check-label" for="exampleRadios1">
                            ՎԱՃԱՌՔ
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gorcarq" id="exampleRadios2" value="2">
                          <label class="form-check-label" for="exampleRadios2">
                            ՎԱՐՁԱԿԱԼՈՒԹՅՈՒՆ
                          </label>
                        </div>
                        
                     
                  </div>

                  <div class="col-sm">  
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="grasenyak" name="tesak">
                         Գրասենյակներ
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="arevtrain" name="tesak">Առևտրային
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="universal" name="tesak">Ունիվերսալ</label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="snndi" name="tesak">Սննդի</label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="artadrakan" name="tesak">Արտադրական</label>
                    </div>

                  </div> <!-- ///col chekbox  --> 
             
              <div class="col-sm">   
                  <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="qaxaq">
                      <option value="">Ամբողջ Հայաստան</option>
                      <option value="erevan">Երևան</option>
                      <option value="gyumri">Գյումրի</option>
                      <option value="vanadzor">Վանաձոր</option>
                    </select>
                  </div>
              </div> <!--  col amboxj hayastan -->

              <div class="col-sm">
                <input type="text" name="poxoc" class="  search-query form-control" placeholder="Փողոց" />
                <span class="input-group-btn">
                  <span class=" glyphicon glyphicon-search"></span>
                </span><br>

                  <div class="form-group">
                    <input placeholder="Մինչև - դրամ" type="number" class="form-control" name="gin">
                  </div>

                   <div class="form-group">
                    <input placeholder="Մինչև - ՔՄ" type="number" class="form-control" name="makeres">
                  </div>

                  <button type="submit" class="btn btn-primary">Որոնել</button>
                           
              </div> <!-- col sm search -->

            </div> <!-- /////row -->

          </div> <!-- conteiner -->

          </form>



                </div>  <!-- //////komercion verj -->











                 <div class="tab-pane container fade show" id="hoxataracq">


                  <form action="tunVoronel" method="post">
                  <div class="container">
                <div class="row">
                  <div class="col-sm">


                    
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gorcarq" id="exampleRadios1" value="1" checked>
                          <label class="form-check-label" for="exampleRadios1">
                            ՎԱՃԱՌՔ
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gorcarq" id="exampleRadios2" value="2">
                          <label class="form-check-label" for="exampleRadios2">
                            ՎԱՐՁԱԿԱԼՈՒԹՅՈՒՆ
                          </label>
                        </div>
                        
                       
                  </div>

                  <div class="col-sm">  
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="bnakeli" name="tesak">
                          Բնակելի հողեր
                      </label>
                    </div>

                    
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="gyux" name="tesak">
                        Գյուղ. հողեր
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="ayginer" name="tesak">Այգիներ</label>
                    </div>

                  </div> <!-- ///col chekbox  --> 
             
              <div class="col-sm">   
                  <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="qaxaq">
                      <option value="">Ամբողջ Հայաստան</option>
                      <option value="erevan">Երևան</option>
                      <option value="gyumri">Գյումրի</option>
                      <option value="vanadzor">Վանաձոր</option>
                    </select>
                  </div>
              </div> <!--  col amboxj hayastan -->

              <div class="col-sm">
                <input type="text" name="poxoc" class="  search-query form-control" placeholder="Փողոց" />
                <span class="input-group-btn">
                  <span class=" glyphicon glyphicon-search"></span>
                </span><br>

                  <div class="form-group">
                    <input placeholder="Մինչև - դրամ" type="number" class="form-control" name="gin">
                  </div>

                   <div class="form-group">
                    <input placeholder="Մինչև - ՔՄ" type="number" class="form-control" name="makeres">
                  </div>

                  <button type="submit" class="btn btn-primary">Որոնել</button>
                           
              </div> <!-- col sm search -->

            </div> <!-- /////row -->

          </div> <!-- conteiner -->

          </form>












                 </div>  


    </div>






                


      </div>  <!-- jumbotron -->

    </div><!-- col-9 -->
    <div class="col-3">
  <div class="list-group">
    <img src="/public/img/govazd.jpg">
    </div>
    </div>

  </div> <!-- opshi row -->
  
 
 
  
 </div>   <!-- conteiner mejtexi  -->       
      
       

        
     


	    

		
		
					
		
					



