/*//login admin//*/

@import url('https://fonts.googleapis.com/css?family=Numans');

.adminBody{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

/*/////Add Post//////*/


.f{
	width: 85%;
	top:0;
	left: 0;
	margin:auto;
	padding-top: 30px;
}
.fConteiner{
	width: 70%;
	top:0;
	left: 0;
	margin:auto;
	margin-top: 100px;
	height: 450px;
	background: rgb(0,0,0,0.5);
    border-radius: 5px;
   
}
.b{
	background: #FDC112;
	color:black;
	border: none
}
.sel1{
    width: 45.5%;
    margin-left: 2%;
    height: 40px;
    border-radius: 5px;
    border:none;
    padding-left: 12px
}
.sel2{
    margin-left: 5%;
    width: 45.5%;
    height: 40px;
    border-radius: 5px;
    border:none;
    padding-left: 12px
}


.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}













/*///////////logoVardan*/
/*.logoVardan{
    height: 75px;
    object-fit: cover;
    padding-top: 5px;
}*/

/*//////search*/
 
.search{
    height: 35px;
    border-radius: 6px;
    border:2px solid #527561 !important;
    border: none;
    font-size: 15px;
}



/*//////////taza/////////*/
.header1{
  background: url('/public/img/gyumri2.jpg');
  background-size: cover;
  background-position: bottom;
  border-bottom: 10px solid white;
  padding: 0 !important;
      /*linear-gradient(to bottom, #9999ff 1%, #99ccff 100%);*/
}
.navSpitak{
    background-color: rgba(255,255,255,0.4);

}
li > a{
    color:black !important;
    font-weight: bold;
}
.j{
    padding-bottom: 90px;
}

.poster{
    background: #E9ECEF;
    border-radius: 6px;
}


.nav-item .active{
background: white !important
}